page-login {
	
	.login-header-nav > div{
		//background: #3565ad;
	}

	.login-logo {
		display: block;
		margin: 0 auto;
		padding: 40px 40px 0px 40px;
		width: 220px;
	}

	h1 {
		text-align: center;
		display: block;
		font-size: 2.2em !important;
		font-weight: bold;
		color: #fff;
		margin: 4px auto 0px;
		text-shadow: 1px 1px 1px #333;
	}

	.sub-heading {
		display:block;
		text-align: center;
		color: #fff;
		font-size: 1.2rem;
		margin-top: 20px;
		margin-bottom: 40px;
	}


	.forgot-password {
		color: #fff;
		display: block;
		text-align: right;
		float: right;
		margin-right: 20px;
		margin-top: 0px;
		font-size: 1.2rem;
		text-decoration: none;
		text-shadow: 1px 1px 1px #000;
	}
	

	.login-content {
		position: relative;
	    background-color: #1A2A4A !important; 
	    background-size: cover;
	    border-bottom: 1px solid #000;
	    z-index: 1;
	    background-color: #000;
	}

	ion-item {
		width: 91% !important;
		display: block !important;
		margin: 0 auto !important;
		margin-bottom: 8px !important;
	}

	.controls {
		button {
			border-radius: 4px;
			font-size: 1.4rem;
			padding: 22px 0px;
		}
		p {
			color: #fff;
			text-align: center;
		}

		button:nth-child(2) {
			background-color: #1A2A4A !important;
		}
	}

	.fb-login-btn {
		background-color: #1A2A4A;
		border: 1px solid #2699FB;
		border-radius: 20px !important;
		font-size: 1.2rem;
		color: #2699FB !important;
		padding: 22px 0px;
	}

	.fb-icon {
		position: absolute;
		left: 40px;
	}

	.create-new-account {
		margin-top: 10px;
		text-align: center;
		color: #fff;
		display: inline-block;
		text-decoration:none;
	}
}

