page-property-detail {
    .property-profile {
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 250px;
      }
    
      .property-sub-details {
        background: #00aeef;
        color: #fff;
        border-radius: 6px;
    }
}
