// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2699FB,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #1A2A4A
);

/*****************  MIXINS *******************/


@mixin b-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";




// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 300;
  src: local("Orbitron Regular"), local("Orbitron-Regular"), url("#{$font-path}/orbitron-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  src: local("Orbitron Medium"), local("Orbitron-Medium"), url("#{$font-path}/orbitron-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  src: local("Orbitron Bold"), local("Orbitron-Bold"), url("#{$font-path}/orbitron-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 200;
  src: local("Exo2 Thin"), local("Exo2-Thin"), url("#{$font-path}/Exo2-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 200;
  src: local("Exo2 Light"), local("Exo2-Light"), url("#{$font-path}/Exo2-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 300;
  src: local("Exo2 Regular"), local("Exo2-Regular"), url("#{$font-path}/Exo2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 400;
  src: local("Exo2 SemiBold"), local("Exo2-SemiBold"), url("#{$font-path}/Exo2-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 400;
  src: local("Orbitron Bold"), local("Orbitron-Bold"), url("#{$font-path}/Exo2-SemiBold.ttf") format("truetype");
}

