page-change-password {
    .form-wrap {
        width: 90%;
        margin: 0 auto;

        ion-item {
            margin-top: 20px;
            @include border-radius(4px);
            padding-left: 0px;

            div.item-inner {
                padding-right: 0px !important;

                ion-label, ion-input:focus > ion-label {
                    background-color: #3eca68;
                    margin: 0px;
                    padding: 10px;
                    color: #fff;
                }

                ion-input {
                    padding-left: 8px;

                    
                }
            }
        }

        button {
            width: 90%;
            @include border-radius(4px);
            padding: 0px;
            margin: 20px 0px 0px 0px;
            width: 100%;
        }
    }
}
