// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.logo-small {
    position: absolute;
    top: 8px;
    right: 10px;
}

.custom-spinner-box {
    margin: auto;
    background: url('../assets/img/logo-loader.gif') repeat transparent;
    background-size: 100%;
    width: 80px;
    height: 80px;
}

h1,h2,h3,h4,h5 {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.menu-toolbar {
	

	h1 {
		text-align:center;
		margin-bottom: 0px;
	}

	.toolbar-title {
	
		font-family: "Roboto", "Helvetica Neue", sans-serif !important;
		font-size: 2rem !important;
	}

	.menu-sub-heading {
		display: block;
		text-align: center;
		margin-bottom: 0px;
		font-style: italic;
	}

	.menu-other-content {
		font-size: 1.4rem;
		display:block;
		text-align:center;
		padding: 10px;

		ion-icon {
			color: #00aeef;
			margin-right: 8px;
		}

		div	{

		}

		div:nth-child(2){

		}
	}

	button {

		div {
			border-bottom: none !important;
		}
	}

	.menu-logo {
		width: 120px;
	    display: block;
	    margin: 20px auto 0px;
	}

}

.menu-pages-list {

	div ion-list button {

		color: #fff;
		background-color: #1f4aa0;

		ion-icon {
			color: #e3e3e3;
			padding-right:4px;
		}

		div{
			box-shadow: none;
			border: none !important;
		}
	}

}

.cestates-currency {
	width: 16px;
}


/*************** UTILITIES ******************/
.no-padding-top {
	padding-top: 0px !important;
}