<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(property)" *ngFor="let property of currentItems">
      <ion-avatar property-start>
        <img [src]="property.profilePic" />
      </ion-avatar>
      <h2>{{property.name}}</h2>
      <p>{{property.about}}</p>
      <ion-note property-end *ngIf="property.note">{{property.note}}</ion-note>
    </button>
  </ion-list>
</ion-content>