<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addProperty()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let property of currentProperties">
      <button ion-item (click)="openProperty(property)">
        <ion-avatar property-start>
          <img [src]="property.profilePic" />
        </ion-avatar>
        <h2>{{property.name}}</h2>
        <p>{{property.about}}</p>
        <ion-note property-end *ngIf="property.note">{{property.note}}</ion-note>
        <ion-grid class="property-sub-details-grid">
          <ion-row>
            <ion-col>
              Price per slot(CET): <span>{{property.price_per_slot}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              City: <span>{{property.city}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Available slots: <span>{{property.available_slots}}</span>
            </ion-col>
            <ion-col>
              Participant: <span>{{property.participant}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteProperty(property)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>