<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
    <img class="logo-small" src="assets/img/logo-small.png">
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doSignup()">
    <ion-list>
      <ion-item>
        <ion-label floating>{{ 'First Name' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.firstname" name="firstname"></ion-input>
      </ion-item>
      <div  padding-top padding-left *ngIf="signup_result !== undefined && signup_result.errors !== undefined && signup_result.errors.firstname !== undefined" class="text-danger">
          {{signup_result.errors?.firstname}}
      </div>
      <ion-item>
        <ion-label floating>{{ 'Last Name' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.lastname" name="lastname"></ion-input>
      </ion-item>
      <div  padding-top padding-left *ngIf="signup_result !== undefined && signup_result.errors !== undefined && signup_result.errors.lastname !== undefined" class="text-danger">
          {{signup_result.errors?.lastname}}
      </div>
      <ion-item>
        <ion-label floating>{{ 'Email Address' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>
      <div  padding-top padding-left *ngIf="signup_result !== undefined && signup_result.errors !== undefined && signup_result.errors.email !== undefined" class="text-danger">
          {{signup_result.errors?.email}}
      </div>
      <ion-item>
        <ion-label floating>{{ 'Password' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>
      <div  padding-top padding-left *ngIf="signup_result !== undefined && signup_result.errors !== undefined && signup_result.errors.password !== undefined" class="text-danger">
          {{signup_result.errors?.password}}
      </div>
      <ion-item>
        <ion-label floating>{{ 'Confirm Password' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.confirmed_password" name="confirmed_password"></ion-input>
      </ion-item>
      <div  padding-top padding-left *ngIf="signup_result !== undefined && signup_result.errors !== undefined && signup_result.errors.confirmed_password !== undefined" class="text-danger">
          {{signup_result.errors?.confirmed_password}}
      </div>
      <div padding>
        <button ion-button color="secondary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>