page-my-properties {
    .section-title {
        padding: 0px 20px;

        h3 {
            font-size: 1.6rem;
            float: left;
        }

        button {
            padding: 4px 10px;
            font-size: 1.4rem;
            float: right;
            margin: 15px 0px 0px 0px;
            border-radius: 4px;
        }
        border-bottom: 1px dashed #e3e3e3;
        overflow: hidden;
        padding-bottom: 4px; 
    }

    ul.sell-list-wrap {
        p {
            font-size: 1rem;
            margin-left: 20px;
        }
        h2 {
        font-size: 1.4rem;
        margin-left: 20px;
        }   
        a {
            text-decoration: none;
        }
        padding-left: 0px;
        li.property-list{
            i {
                color: #2699FB;
                font-size: 1.2rem;
            }
            border-bottom: 1px solid #656E81;
            padding-top: 5px;
            padding-bottom: 10px;
            
            ul {
                padding-left: 10px;
                margin-left: 20px;
                overflow: hidden;
                li {
                    float: left;
                    margin-right: 20px;
                    font-size: 1.2rem;
                }
    
                li:last-child {
                    margin-right: 0px;
                }
            }
    
            h2 {
                margin-top: 5px;
            }
            
        }

        li.property-list:last-child {
            border-bottom: none;
        }

        overflow-y: auto;
        height: 300px;

        box-shadow: 0px 2px 1px #182744;
        padding-bottom: 10px;
    }
    
    div.my-property-title {
        background-color: #2659bf !important;
    }

    div.properties-content {
        padding: 0px 20px;
        background-color: #2659bf;
        ul {
            padding-left: 0px; 
            overflow: hidden;
            margin-top: 0px;
            ul {
                overflow: hidden;
                li {
                    float: left;
                    margin-right: 20px;
                }
            }

            p {
                font-size: 1.2rem;
                color: #fff;
                i {
                    color : #fff;
                    font-size: 1.4rem !important;
                }
            }

            div.controls {
                margin-top: 10px;
                button {
                    background-color:#da9600;
                    color: #fff;
                    @include border-radius(8);
                    padding: 6px 10px;  
                }
            }

            
        }

        > ul > li {
            
            border-bottom: 1px dashed #848484;
            padding-bottom: 20px;
        }

        > ul > li:last-child {
            border: none;
        }
        h2 {
            font-size: 1.4rem;
            margin-top: 20px;
            padding: 0px; 

        }
    }

    .sell-property-btn {
        color: #fff;
        background-color: #2659bf;
    }
}
